html {
  height: 100%;
  box-sizing: border-box;

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  font-size: 1.25rem;
  line-height: 2.5em;
  text-rendering: optimizeSpeed;
  color: white;

  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 0.25em 2ch;
  }
}
