:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: green;
  color: var(--text-color-000);
  padding: 1rem 5vw;
  z-index: 2;

  &[data-open="false"] {
    display: none;
  }
}
